<!DOCTYPE html>
<html>
<head>
  <title>WorthSaving</title>
  <%= stylesheet_link_tag    "worth_saving/application", :media => "all" %>
  <%= javascript_include_tag "worth_saving/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
